p {
    color: #05435C;
    }

a:hover {
    color: red;
}

ul {
    color: #05435C;
    text-align: left;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #DBF5FF;
    border: 3px solid #05435C;
}

main{
    width: 60%;
    padding: 25px;
}

img {
    display: block;
    width: 60%;
    height: 20%;
    margin: 25px auto;
}

h1 {
    color: #05435C;
    border: 3px solid #05435C;
    padding: 10px;
}

h2 {
    color: #05435C;
    border: 3px solid #05435C;
    padding: 10px;
}

h3 { 
    color: #05435C;
}

a {
    color: #67AFCB;
    border: 3px solid #05435C;
    padding: 10px;
}

article {
    border: 3px solid #05435C;
    padding: 10px;
    margin: 25px;
}

