p {
    color: #05435C;
    }

a:hover {
    color: red;
}

ul {
    color: #05435C;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DBF5FF;
}

main{
    width: 60%;
    
}

img {
    display: block;
    width: 60%;
    height: 20%;
    margin: 0 auto;
}

h1 {
    color: #05435C
}

h2 {
    color: #05435C
}

h3 {
    color: #05435C
}

a {
    color: #67AFCB;
}



